body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

header,
footer {
  background: #113aa6;
  color: white;
  text-align: center;
  padding: 1em;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}
.hidden {
  display: none;
}
#incomeContainer {
  width: 100%;
}

#incomeContainer svg {
  border: 1px solid #ccc; /* 可选边框方便查看 */
}

#incomeContainer svg {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2; /* 确保不会塌缩 */
  max-width: 90vw; /* 每张图最大宽度控制 */
  max-height: 65vw; /* 每张图最大宽度控制 */
  border: 1px solid #ccc;
}
.chart-title {
  font-family: sans-serif;
}

.legend text {
  font-family: sans-serif;
}
.button-container{
 
    
    text-align: center;
    /* 文本居中 */
 
   
}




  .button-container button {
    padding: 8px 16px;
    margin-right: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 4px;
  }

  .button-container button.active {
    background-color: #007bff; /* 蓝色背景 */
    color: white;
    border-color: #007bff;
  }


.top-right-nav {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;                /* 横向排列 */
  gap: 20px;                    /* 链接之间的间距 */
  z-index: 999;
}

.top-right-nav a {
  color: white;                 /* 链接文字颜色为白色 */
  text-decoration: none;
  font-weight: bold;
}

.top-right-nav a:hover {
  text-decoration: underline;
}

